apiVersion: v1
kind: Service
metadata:
  name: grafana-svc
  namespace: mapr-ts
  labels:
    name: grafana-svc
spec:
  type: NodePort
  ports:
    - port: 3000
      nodePort: 30000
      name: grafana
  #selector should be deployment name
  selector:
    name: grafana-app
    app: grafana-app
