/*
    This file is a compilation of the styles from several other css files which 
    were in the css path. In process.
    
    We orignally had aws-docs overriding aws-dev-content, unless it was 
    IE. Then we had aws-docs-IE overriding.
    
    This file brings the styles to CSS 2.1 and special cases IE 6 and prior.
*/


body, div, td, th {
    font-family: verdana, sans-serif, arial;
    font-size: 12px;
    color: #000000;
}


p {
    font-family: verdana, sans-serif, arial;
    font-size: 12px;
    color: #000000;
  margin-bottom: 1em;
}


h1 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    padding-top: 12px;
}

h2 {
  color:#E47911;
  font-size: 14px;
  font-weight:bold;
}

h3 {
  color:#146EB4;
  font-size: 12px;
  font-weight:bold;
  padding:0;
}

h3.orange {
  color:#E47911;
}

/* Remove borders from linked images */
a:link  { text-decoration: none; padding: 3px; }

/* format href links   new 9/27/07 */
a:link {text-decoration: none;}
a:link:visited {text-decoration: none;}
a:link:active {text-decoration: none;}
a:link:hover {text-decoration: none; color: #ff0000;} 
a:link:visited:hover {text-decoration: none; color: #ff0000;} 
/* ------- end anchors -------*/


/*code, note, and example styles*/
pre {
    font-family: "Courier New", Courier, mono;
    font-size: 12px;
	background-color: #eff7ff;
    border: 1px dashed #333;
    overflow: auto;
	width:600px;
	padding: 15px 10px 15px 10px;
}


code {
    font-family: "Courier New", Courier, mono;
    font-size: 12px;
}


/** Admonitions **/
.aws-note {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #CCCCCC;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-left-color: #CCCCCC;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}


div.caution{
	padding: 0.5em;
}

div.important{
	padding: 0.5em;
}

div.note{
	padding: 0.5em;
}

div.tip{
	padding: 0.5em;
}
/*-------  end admonitions   -------*/

/*table ID selector styles*/
#aws-table {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    margin-right: 20px;
}

#aws-table td {
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    vertical-align: top;
}

#aws-table th {
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    vertical-align: top;
    background-color: #eeeeee;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.aws-code {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	background-color: #eff7ff;
	border: 1px dashed #333;
	overflow: auto;
	max-height: 500px;
	margin-right: 20px;
}

.email {                                                             
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: italic;
}

.formpara{                                                                    /* 5/1/08  Introduced Formal paragraph titles   */
 	font-weight: bold;
 	font-size: 12px;
}

.guilabel {    /* Don't change this one back to italics! */                                                      
	font-weight: bold;
}


img {
	border-style: hidden;
	border-width :0px 0px 0px 0px;
	border-color : #ffffff;
}



#language-filter {                                                   
    float: right;
}


.navheader table td, .navheader table th, .navfooter table td, .navfooter table th {     
    border: 0px;
    background-color: #eeeeee;
    color: #000000;
}

.navfooter table, .navheader table {                                  
    border: 0px;
    border-spacing: 0px;
}

.page-header {                                                        
	height:30px;
	z-index:1;
	overflow:hidden;
	text-align:right;
	padding-right: 10px;
}

.programlisting{
	font-family: "Courier New", Courier, mono;                   
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000066;
	padding: 5px 3px 5px 5px;                       /* 10/25/07 changed top and bottom padding back to 5px; browser sniffer removes IE  problem */
	background-color: #eff7ff;
	border: 1px dashed #333;
	width: 99%;
}


.question{
	font-weight: bold;
}

.remark {
	color: #FF0000;   
}

.replaceable {
	color: #FF0000;
}

.segmentedlist{
	padding-bottom: 15px;
}

.seg p{
	margin-bottom: 0em;
}

/* ------------ZB 1.8.17 styles ----------------*/

#title-frame
{
    background-color: #006699;
    margin: 0px;
    padding: 0px;
    border:none;
}

.docname-title-area
 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:larger;
    font-weight:bold;
    color:#FFFFFF;
 }
         
.logo-area
{
    background-repeat:no-repeat;
    background-image:url(images/title-swoosh-logo.gif); 
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:small;
    color:#000000;
    font-weight:bold;
    width:314px;
    height:47px;
    float:right;
    text-align:center;
    vertical-align:middle;
}

span #not-latest-message 
{
    visibility:hidden;
}



/*-------------------------------*/
/*         Tables                */
/*-------------------------------*/

td p:first-child {
  margin-top: 0px;                                                               
}

td p:last-child {
  margin-bottom: 0px;
}

td ul:first-child {
  margin-top: 0px;                                                                               /*  new 8/22/07 */
}

td ol:first-child {
  margin-top: 0px;                                                                               /*  new 8/22/07 */
}

/* Formal Table Settings */

div.table-contents{
	padding: 0.5em;
}

.table-contents table{
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.table-contents td{
  font-size: 12px;
  padding: 5px 5px 5px 5px; 
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 0px;
  border-top: 0px;
  vertical-align:top;
}

.table-contents th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 0px;
  border-top: 0px;
  vertical-align:top;
  background-color: #eeeeee;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

/* informal tables  */

div.informaltable{
	padding: 0.5em;
}

/* borderless tables */

.simplesect table{
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.simplesect td{
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
}

/*------- End tables -------*/



title, .topictitle{                                                  
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;	
}


.topcom{
   font-weight: bold;
}

.topictitle {                                                         
	padding-bottom: 5px;
	border-bottom: none;
	border-top: 1px solid rgb(204, 204, 204);
}

.userinput {                                                          
	color: #040;
	font-weight: normal;
}




/*--------------------------------------------------------------------------------------------------------------------------*/
/*  Admonition Tables                                                          new 9/19/07                                  */
/*   ATTENTION!      These must be placed last in the style sheet so that they can override all preceding table formattings */
/*--------------------------------------------------------------------------------------------------------------------------*/

.caution table{
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.caution td{
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
}

.caution th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.important table{
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.important td{
  font-size: 12px;
  padding: 0px 0px 0px 5px;  
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
}

.important th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.note table{
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.note td{
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
}

.note th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.tip table{
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.tip td{
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
}

.tip th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
  vertical-align:top;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}




/* These styles were orignally formatted differently for IE */
/* default versions */

/*------------------*/
/*   Breadcrumbs    */
/*------------------*/

div.breadcrumb { 
		padding-top: 5px;
}

div.breadcrumb a:link, a:link:visited, a:link:hover, a:link:visited:hover, a:link:active {                                        
        font-size: 9px;
		font-weight: normal;
		text-decoration:none;
}

/*-------  end breadcrumbs   -------*/



.simpara{                                                                     
  margin-top: -.4em;
}

.informaltable table{
  border-top: .25px solid #cccccc;
  border-left: .25px solid #cccccc;
  border-bottom: .25px solid #cccccc;
  border-right: .25px solid #cccccc; 
  border-spacing: 0px;
}

.informaltable td{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-top: .25px solid #cccccc;
  border-left: .25px solid #cccccc;
  border-bottom: .25px solid #cccccc;
  border-right: .25px solid #cccccc;
  vertical-align:top;
}

.informaltable th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-right: .25px solid #cccccc;
  border-left: .25px solid #cccccc;
  border-top: .25px solid #cccccc; 
  border-bottom: .25px solid #cccccc;  
  vertical-align:top;
  background-color: #eeeeee;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}



/* IE versions, trying level 6 

<!--[if IE lte 6]>

div.breadcrumb {
    color: #8f8fbd;
    font-size: 9px;
}

div.breadcrumb a:link, a:link:visited, a:link:hover, a:link:visited:hover, a:link:active {                                        
        font-size: 9px;
		font-weight: normal;
		text-decoration:none;
}



.simpara{
  margin-top: -.05em;
}

.informaltable table{
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 0px;
  border-right: 0px;
  border-spacing: 0px;
}

.informaltable td{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 0px;
  border-top: 0px;
  vertical-align:top;
}

.informaltable th{
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 0px;
  border-top: 0px;
  vertical-align:top;
  background-color: #eeeeee;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

<![endif]--> */
