 /* Style Definitions */
table
{
	width:100%;
	font-size:8px;
}
p
{
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 0em
}
.title
{
        margin-top: 1em;
        margin-bottom: 5px
}
.d1
{       font-size: larger;
        font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0em
}
.d2
{
	margin-top: 0em;
	margin-bottom: 0em
}
.d3
{
        font-style: italic;
	margin-left: 2em;
	margin-top: 0em;
	margin-bottom: 0em
}
.d4
{
	margin-left: 2em;
	margin-top: 0em;
	margin-bottom: 0em
}

ol
{
	text-indent: 0em
}

li
{
	margin-top: 5px;
	margin-bottom: 0em;
	text-indent: 0em
}
pre
{
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 0em
}


.pagebreak
{
	page-break-before: always;
}

.centered
{
	text-align: center;
}

.bottom
{
	vertical-align: text-bottom;
}

.tablehead
{
	text-align: center;
	font-weight: bold
}

hr
{
	text-indent: 0em
}
.admontop
{
	margin-top: 0em;
	margin-bottom: 0em
}
.admonbottom
{
	margin-top: 0em;
	margin-bottom: 0em
}


H1 {margin-top: 5px; margin-bottom: 5px}
H2 {margin-top: 5px; margin-bottom: 5px}
H3 {margin-top: 5px; margin-bottom: 5px}
H4 {margin-top: 5px; margin-bottom: 5px}
H5 {margin-top: 5px; margin-bottom: 5px}
