body {
 margin: 0px;
 padding: 0px;
}
 
p#heading {
    font-weight:bold;
    font-size:14px;
}

div {
    margin:10px;
}
table#header {
     width: 100%;
     border: 0;
     border-spacing: 0px;
     border-collapse: separate;
     background-color: #006699;
}
     
table#header td {
     padding: 0px;
}

table#header table {
     width: 100%; 
     border: 0;
     border-spacing: 3px;
     border-collapse: separate;
}

table#header table td {
     padding: 3px;
}

